version: "3.9"

services:
  backend:
    build: ./backend
    container_name: busgo_backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: busgo_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
